.page-header {
  background-color: #fff;
  min-height: 147px;
  .clearfix(); 
  
} //page-header
.logo {
  float: left;
  padding-top: 58px;
  margin-right: 102px;
} //logo

.menu {
  float: left;
  padding-top: 67px;   
  &--footer {
    padding-top: 0;
    margin-bottom: 40px;
    } //footer mod 
  &__list {
    margin: 0;    
    list-style-type: none;   
  } //list
  &__item {
    float: left;
    margin: 0;    
    margin-right: 32px;
    &:last-child {
      margin-right: 0;
    }
    &--footer {      
      float: none;
      margin-right: 0;
      margin-bottom: 8px;
      padding-bottom: 8px;
      border-bottom: 1px solid #ccc;
      &:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: none;
      }
    }
  } //item
  &__link {
    color: #000;
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
     &--active {
      color: #ffe13e;
      font-weight: bold;
    } //active
    &--white {
      color: #fff;
    }
  } //link
} //menu

.callback {
  float: right; 
  padding-top: 34px;
  padding-bottom: 31px;
  padding-left: 50px;
  padding-right: 2px;
  border-left: 1px solid #ccc;
  &__title {    
    margin: 0;
    font-size: 12px;
    line-height: 24px;
    font-weight: 600;    
    margin-bottom: 18px;
  } //title
  &__live-chat {
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
    color: #000;
    text-decoration: none;
    } //live-chat
  &__link {
    float: right;
    font-family: "Lato", "Arial", sans-serif;
    font-weight: bold;
    font-size: 24px; 
    line-height: 38px;   
    color: #000;
    text-decoration: none;    
  } //phone
} //callback
